*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

.background {
  background-image: url(../../assets/main-background-blurred.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 8rem;
  display: grid;
  grid-template-columns: [container-start] repeat(6, 1fr) [container-end nav-start] 8rem [nav-end]; }

/* 

WAS THE CODE USED TO RECREATE THE PIXELATED LOOK IN THE BACKGROUND AND MANILA FOLDER OF THE GOLDENEYE MAIN MENU. AM KEEPING FOR POSSIBLE FUTURE REFERENCE OF CREATING PIXEL LIKE BACKGROUNDS. MORE SPECIFICALLY IF YOU EVER WANT TO USE A PIXEL GRADIENT.

.pixels {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.pixel {
  background-color: #565742;
  float: left;
}
 */
.navigation {
  grid-column: nav-start / nav-end;
  grid-row: 1 / -1;
  background-image: url(../../assets/manila-folder-background-blurred.png); }

.content {
  background-image: url(../../assets/manila-folder-background-blurred.png);
  grid-column: container-start / container-end;
  height: 85vh; }
