// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Odibee Sans", "Roboto", sans-serif;
$font-tertiary: "Playfair Display SC", serif;

// COLOR VARIABLES
$background-color-hover-tab-links: rgba(#000, 0.3);
$background-color-hover-main-links: rgba(#000, 0.2);
$red-background-text: 2px 2px 3px rgba(207, 86, 84, 0.4);

// VARIABLES THAT WERE USED IN MAIKING THE PIXELATED BACKGROUND. AM KEEPING JUST IN CASE BUT MAY NOT NEED THEM FOR THE REST OF THE PORTFOLIO
$background-color-1: #9f946b;
$background-color-2: #656443;
$background-color-3: #5c644b;
$background-color-4: #3f3e31;

$container-background-light: #d7cea8;
$container-background-dark: #c8be9b;

// SPACING VARIABLES
$backgound-padding: 8rem;
$content-full-bleed-col-w: 4rem;
$tab-nav-width: 5rem;

$portfolio-img-width: 50rem;
$portfolio-img-padding: 4rem;
