.background-text {
	position: absolute;
	bottom: 0;

	&__text {
		white-space: nowrap;
		position: relative;
		text-transform: uppercase;
		font-size: 14rem;
		text-shadow: $red-background-text;
		color: transparent;
	}
}
