.crest {
	background-image: url(/assets/logo-crest-2.png);
	grid-column: col-start 10 / full-end;
	margin-top: 2rem;
	display: inline-block;
	height: 32rem;
	width: auto;

	@include respond(medium) {
		grid-column: col-start 9 / full-end;
	}
}
