.nav {
	align-self: center;
	z-index: 1;

	// IF STILL USING GRID
	@include respond(medium-2) {
		margin-left: -5rem;
	}

	@include respond(small-3) {
		margin-left: -7.5rem;
	}

	@include respond(x-small-2) {
		margin-left: -10.5rem;
	}

	&__list {
		list-style-type: none;
	}

	&__item {
		width: fit-content;

		&:hover {
			background-color: $background-color-hover-main-links;
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	&__link,
	&__link:active,
	&__link:visited {
		font-size: 30px;
		font-weight: 300;
		text-decoration: none;
		text-transform: uppercase;
		@include fuzzy-font;
		margin: 1.5rem;

		&.default-cursor {
			&:hover {
				cursor: pointer;
			}
		}

		span {
			&:not(:last-child) {
				margin-right: 2.5rem;

				@include respond(x-small-2) {
					margin-right: 1rem;
				}
			}
		}
	}

	// &__item:hover {
	// 	background-color: $background-color-hover-main-links;
	// }

	// &__link,
	// &__link:active,
	// &__link:visited {
	// 	font-size: 3rem;
	// 	font-weight: 300;
	// 	text-decoration: none;
	// 	text-transform: uppercase;
	// 	color: transparent;
	// 	text-shadow: 0 0 2px #000;
	// }
}
