.tab-nav {
  background-color: transparent;
  grid-column: nav-start / nav-end;
  grid-row: 1 / -1;
  padding: 2rem 0;

  // Container for the tabs
  &__list {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
  }

  // Individual tabs styling
  &__item {
    background-image: url(../../assets/manila-folder-background-blurred.png);
    opacity: 0.45;
    clip-path: polygon(0 0, 43% 2%, 100% 13%, 100% 87%, 43% 98%, 0 100%);

    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      //   height: 85%;
      text-align: center;
      font-family: $font-secondary;
      font-size: 4rem;
      text-transform: uppercase;

      // Changing height of menu items and spacing between letters to look closer to game
      transform: scaleX(0.5);
      letter-spacing: 4px;
    }
  }
}
