.nav {
	align-self: center;
	z-index: 1;

	&__list {
		list-style-type: none;
	}

	&__item,
	&__item:active,
	&__item:visited {
		width: fit-content;
		padding: 0.5rem;

		font-size: 3rem;
		font-weight: 300;
		text-decoration: none;
		text-transform: uppercase;
		color: transparent;
		text-shadow: 0 0 2px #000;

		span {
			&:not(:last-child) {
				margin-right: 2.5rem;
			}
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	&__item:hover {
		background-color: $background-color-hover-main-links;
	}

	// &__link,
	// &__link:active,
	// &__link:visited {
	// 	font-size: 3rem;
	// 	font-weight: 300;
	// 	text-decoration: none;
	// 	text-transform: uppercase;
	// 	color: transparent;
	// 	text-shadow: 0 0 2px #000;
	// }
}
