.profile-img {
	position: absolute;
	margin-top: -2rem;
	margin-left: 4rem;
	z-index: 3;
	width: fit-content;

	@include respond(small-2) {
		margin-top: -2rem;
		margin-left: 2rem;
	}

	@include respond(small-3) {
		margin-left: -2.25rem;
		margin-top: -2rem;
		left: 50%;
		transform: translateX(-50%);
	}

	@include respond(x-small-2) {
		margin-top: -2.75rem;
		left: 50%;
		transform: translateX(-50%) scale(0.95);
	}
}

.profile-img--right {
	position: absolute;
	right: 0;
	margin-right: 6rem;

	@include respond(small-2) {
		margin-top: -2rem;
		left: 0;
		margin-right: 0;
	}

	@include respond(small-3) {
		margin-left: 2rem;
		transform: none;
	}

	@include respond(x-small-3) {
		margin-left: 0.2rem;
		transform: scale(0.95);
	}
}

.paperclip {
	position: absolute;
	z-index: 4;
	margin-top: -3.75rem;
	margin-left: 2rem;
	height: 8rem;
	width: auto;

	&--right {
		height: 12.25rem;
		width: auto;
		margin-left: 4rem;
		margin-top: -5.7rem;
	}
}

.portrait {
	position: relative;
	z-index: 3;
	max-height: 45rem;
	width: auto;
	box-shadow: -0.4rem 1rem 0.4rem 0.2rem rgba(black, 0.8);
}
