.profile-img {
	position: fixed;
	// grid-column: col-start 1 / col-end 5;
	// grid-row: 1 / 2;
	margin-top: -1rem;
	margin-left: $content-full-bleed-col-w;
	z-index: 3;
}

.profile-img--right {
	// display: block;
	position: fixed;
	left: calc(55% - #{$content-full-bleed-col-w});
	margin-right: auto;
	// right: 0;
	// margin-right: calc(
	// 	#{$content-full-bleed-col-w} + #{$backgound-padding} + #{$tab-nav-width}
	// );
	// margin-right: 12%;

	@include respond(largest) {
		left: 55%;
	}
}

.paperclip {
	position: absolute;
	z-index: 4;
	margin-top: -3.7rem;
	margin-left: 2rem;
	height: 8rem;
	width: auto;
}

.portrait {
	position: relative;
	z-index: 3;
	max-height: 45rem;
	width: auto;
	box-shadow: -0.4rem 1rem 0.4rem 0.2rem rgba(black, 0.8);
}
