.content {
	&--portfolio {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: $font-primary;

		@include respond(x-small) {
			// justify-content: space-between;
		}
	}

	&__heading--portfolio {
		@include fuzzy-font;
		font-size: 4rem;
	}

	&__project-name--portfolio {
		@include fuzzy-font;
		font-size: 4rem;
		flex: 0 0 fit-content;
	}

	// LEFT & RIGHT ICONS FOR PROJECT NAME
	// AND DETAILS SECTION
	&__icon {
		user-select: none;
		font-size: 8rem;
		@include fuzzy-font;

		@include respond(x-small-2) {
			font-size: 6rem;
		}
	}

	&__project {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-name {
			font-size: 4rem;

			@include respond(x-small) {
				text-align: center;
			}

			@include respond(x-small-2) {
				text-align: center;
				font-size: 3rem;
			}

			// @include respond(x-small-3) {
			// 	text-align: center;
			// 	font-size: 2.75rem;
			// }
		}
	}
}

.slider {
	flex: 0 0 80%;
	overflow: visible;
	width: 100%;
	// margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;

	@include respond(x-small) {
		flex: 0 0 50%;
	}

	&__container {
		display: flex;
		justify-content: center;
		width: 100%;
		transition: all 0.2s;
	}

	&__item {
		position: relative;
		padding: 0 2rem;
		flex: 1 0 auto;

		// PORTFOLIO IMAGE DIMENSIONS
		width: $portfolio-img-width;
		// aspect ratio calc but added with subtracting the 2 rem left and right padding
		height: calc(
			(#{$portfolio-img-width} - #{$portfolio-img-padding}) / (16 / 9)
		);

		// @include respond(x-small-2) {
		// 	width: calc(#{$portfolio-img-width} + 7rem);
		// }

		&.active {
			& > .img-overlay {
				display: none;
			}
		}

		&.inactive-left {
			opacity: 70%;

			& > .img-overlay {
				background-image: linear-gradient(
					90deg,
					rgba(white, 1) 50%,
					rgba(white, 0.75) 62.5%,
					rgba(white, 0.5) 75%,
					rgba(white, 0.25) 87.5%,
					rgba(white, 0) 100%
				);
			}
		}

		&.inactive-right {
			opacity: 70%;

			& > .img-overlay {
				background-image: linear-gradient(
					90deg,
					rgba(white, 0) 0%,
					rgba(white, 0.25) 12.5%,
					rgba(white, 0.5) 25%,
					rgba(white, 0.75) 37.5%,
					rgba(white, 1) 50%
				);
			}
		}
	}

	&__img {
		z-index: 0;
		position: relative;
		max-width: 100%;
		height: auto;
	}

	&__project-details {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: #{$portfolio-img-width - $portfolio-img-padding};
		height: 10rem;
		position: absolute;
		z-index: 2;
		bottom: 7%;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.2s;

		i {
			position: relative;
			@include fuzzy-font;
			font-size: 6rem;
		}

		a {
			position: absolute;
			left: 0;
			top: 0;
			height: 6rem;
			width: 5.5rem;
		}

		&.right-active {
			transform: translateX(calc(-50% - 1rem));
		}

		&.left-active {
			transform: translateX(calc(-50% + 1rem));
		}
	}
}

.img-overlay {
	z-index: 3;
	position: absolute;
	left: 2rem;
	height: 100%;
	width: calc(
		100% - #{$portfolio-img-padding}
	); // minus 2rem padding left and right
}
