// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Odibee Sans", "Roboto", sans-serif;

// COLOR VARIABLES WERE USED IN MAIKING THE PIXELATED BACKGROUND. AM KEEPING JUST IN CASE BUT MAY NOT NEED THEM FOR THE REST OF THE PORTFOLIO
$background-color-1: #9f946b;
$background-color-2: #656443;
$background-color-3: #5c644b;
$background-color-4: #3f3e31;

$container-background-light: #d7cea8;
$container-background-dark: #c8be9b;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px base
}

body {
  font-family: $font-primary;
}

.background {
  background-image: url(../../assets/main-background-blurred.png);
  background-size: cover;

  height: 100vh;
  width: 100vw;
  padding: 8rem;

  display: grid;
  grid-template-columns: [container-start] repeat(6, 1fr) [container-end nav-start] 5rem [nav-end];
}

/* 

WAS THE CODE USED TO RECREATE THE PIXELATED LOOK IN THE BACKGROUND AND MANILA FOLDER OF THE GOLDENEYE MAIN MENU. AM KEEPING FOR POSSIBLE FUTURE REFERENCE OF CREATING PIXEL LIKE BACKGROUNDS. MORE SPECIFICALLY IF YOU EVER WANT TO USE A PIXEL GRADIENT.

.pixels {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.pixel {
  background-color: #565742;
  float: left;
}
 */
