*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px base
	overflow: scroll;
	min-height: 100%;

	@include respond(large) {
		font-size: 56.25%; // 9px base
	}

	@include respond(medium-2) {
		font-size: 50%; // 8px base
	}

	@include respond(x-small-3) {
		font-size: 43.75%; // 7px base
	}
}

body {
	font-family: $font-primary;
	cursor: none;

	&:hover {
		cursor: none;
	}
}

.background {
	background-image: url(../../assets/main-background-blurred.png);
	background-size: cover;
	min-height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: $background-padding-tb $background-padding-lr;

	@include respond(x-small) {
		padding: $background-padding-tb 2rem;
	}

	// display: grid;
	// justify-items: center;
	// grid-template-columns: [container-start] repeat(6, 1fr) [container-end nav-start] $tab-nav-width [nav-end];

	// display: grid;
	// // justify-items: center;
	// grid-template-columns: [background-start full-start] 1fr [container-start] 100.2rem [container-end] 1fr [full-end];
}

.container {
	grid-column: container-start / container-end;
	height: 880px;
	max-width: 1102px;
	position: relative;

	display: grid;
	grid-template-columns: [container-start] 1fr [container-end nav-start] $tab-nav-width [nav-end];

	@include respond(small-3) {
		width: 614px;
	}

	&--contact {
		// Not sure why the contact page needed a flex grow propery specified. Maybe it's because of the content in the other pages?
		flex: 1;
	}
}

.cursor {
	z-index: 15;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;

	@media (hover: none) {
		display: none;
	}

	img {
		height: 6rem;
		width: 6rem;
	}
}

/* 

WAS THE CODE USED TO RECREATE THE PIXELATED LOOK IN THE BACKGROUND AND MANILA FOLDER OF THE GOLDENEYE MAIN MENU. AM KEEPING FOR POSSIBLE FUTURE REFERENCE OF CREATING PIXEL LIKE BACKGROUNDS. MORE SPECIFICALLY IF YOU EVER WANT TO USE A PIXEL GRADIENT.

.pixels {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.pixel {
  background-color: #565742;
  float: left;
}
 */
