.heading {
	font-family: $font-tertiary;
	font-size: 8rem;
	font-weight: 400;
	text-transform: uppercase;
}

.heading-secondary {
	font-family: $font-primary;
	font-size: 4rem;
	font-weight: 400;
	text-transform: uppercase;
}
