.nav--main {
	grid-column: 8 / -1;
}

.content {
	&--about {
		grid-template-columns:
			[full-start] 4rem repeat(14, [col-start] 1fr [col-end])
			4rem [full-end];
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
	}
}

.portrait--right {
	box-shadow: none;
}

.summary {
	grid-column: col-start 1 / col-end 13;
	z-index: 15;

	// Styling for all text
	@include fuzzy-font;

	&__heading-container {
		height: fit-content;
		margin: 3rem 0;
	}

	&__heading {
		transform: scale(0.93, 1.3);
	}

	&__list {
		list-style-type: none;
	}

	&__item:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&__text {
		font-size: 4rem;
	}
}

.background-text {
	&--about {
		overflow: hidden;
		transform: rotate(-50deg);
		margin-bottom: -1rem;
		grid-column: 5 / -1;
		text-shadow: $red-background-text-light;
		position: absolute;
		z-index: 0;

		p {
			text-shadow: $red-background-text-light;
		}
	}
}
