.nav--main {
	grid-column: 8 / -1;
}

.content {
	&--about {
		grid-template-columns:
			[full-start] 4rem repeat(14, [col-start] 1fr [col-end])
			4rem [full-end];
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
	}
}

.background-text {
	&--about {
		overflow: hidden;
		transform: rotate(-50deg);
		margin-bottom: -1rem;
		grid-column: 5 / -1;
		z-index: 0;
	}
}
